/*header
{
	text-align: center;
	border: 1px solid #569d88;
	background-color: #569d88;
	color:#fdcc44;
	font-family: 'Kanit', sans-serif;
	width: 100%;
	margin-right: 0;
	padding-right: 0;
}
#logo h1
{
	font-size: 2.5em;
}*/
.titre1
{
	padding-top: 20px;
}
body
{
	width: 80%;
	text-align: center;
	text-justify:auto;
	margin: auto;
}
/*h2
{
	font-size: 1.4em;
	font-family: 'Kanit', sans-serif;	
}*/
body #Gourmandises .Menu4
{
	display: flex;
	flex-direction: column;
	text-align: left;
	padding-right: 20px;
	margin-bottom: 30px;
	line-height: 2em;
}
main
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
	width: 80%;
	box-shadow: -1px 1px 5px 1px rgba(0,0,0,0.5);
	margin-top: 30px;
	padding: 0;
	border: none;
	background:#fff5fe;
	margin-bottom: 70px;
}
main h3
{
	font-family: 'Croissant One', cursive;
	background-image: -webkit-linear-gradient(right,#915bfd, #d07e4b);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	font-size: 1.5em;
}
/*img
{
	width: 33%;
	margin: auto;
}*/
.titre1, .titre2, .titre3
{
	/*position: relative;
	display: flex;
	flex-direction: row;
	margin: auto;
	align-items: center;
	padding: 10px;*/
	font-size: 1.3em;
	font-weight: bold;
}
.titre1 p, .titre2 p, .titre3 p
{
	font-size: 1.2em;
	font-weight: bold;
}
/*.animation
{
	width: 300px;
}*/
.apres
{
	/*position: absolute;
	bottom:0;
	display: block;
	width: 0%;
	height: 2px;
	background-color: black;
	transition: 0.5s;*/
	left:38%;
}
#animation .titre1 p:hover ~ .apres,
#animation .titre2 p:hover ~ .apres,
#animation .titre3 p:hover ~ .apres
	{
		width:25%;
	}
/*footer
{
	display: flex;
	flex-direction: row;
	border: 1px solid #569d88;
	background-color: #569d88;
	margin: auto;
	margin-top: 20px;
	justify-content: space-between;
	padding: 10px;
	background-color: #569d88;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	width:80%;
}
footer a
{
	color: #fdcc44;
	font-size: 1.3em;
	font-family: 'Manrope', sans-serif;
	text-decoration: none;
}*/
.Menu
{
	display: flex;
	flex-direction:column;
	justify-content: space-between;
	padding-right: 20px;
}
/*Menu1 ul,.Menu2 ul,.Menu3 ul
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-right: 20px;
	list-style: none;
	line-height: 2em;*/
}
.titre1 p
{
	color: #c7750a;
}
#Plaisir
{
	color: #a6679a;
}
#Gourmandises .titre3
{
	color: #6e4bcd;	
}
#Gourmandises .Menu6 ul
{
	display: flex;
	flex-direction:column;
	color: #6e4bcd;
	list-style: none;
	line-height: 2.5em;
	text-align: left;
}
/*#Appetit .Menu1*/
{
	line-height: 0.6em;
}
/*@-webkit-keyframes animation 
{ 
    0%  {
        transform: rotate(30deg);
    	}

    30% {
        transform: rotate(0deg);
    	}

    60% {
        transform:rotate(30deg) ;
   		}
    100%{
    	transform: rotate(0deg);
    	}
}
#Mentionslegales:hover, #Contacteznous:hover
{
 	-webkit-animation: animation 0.5s; 
}*/
body footer
{
	width:80%;
}
@media sreen and (max-width: 900px)
{
	body, main
	{
		width: 80%;
	}
}
@media screen and (max-width: 800px)
{
	body, main, body footer
	{
		width: 90%
	}
	#animation .titre1 p:hover ~ .apres,
	#animation .titre2 p:hover ~ .apres,
	#animation .titre3 p:hover ~ .apres
	{
		width:34%;
	}
	.apres
	{
		left:33%;
		width: 0%;
		height:2px;
		transition: 0.5s;
	}
}
@media screen and (max-width: 690px)
{
	body
	{
		width: 100%;
	}
	main
	{
		width: 97%;
	}
	body footer
	{
		width: 100%;
		padding:10px;
		padding-right: 0px;
		margin-right:0px;
	}
}
@media screen and (max-width: 470px)
{
	.Menu
	{
		font-size: 0.8em;
		padding-right: 10px;
		padding-left: 0px;
	}
}
@media screen and (max-width: 440px)
{
	{
		line-height: 1em;
	}
	#Appetit .Menu1 ul, #Appetit .Menu2 ul, #Appetit .Menu3 ul,
	#Plaisir .Menu1 ul, #Plaisir .Menu2 ul, #Plaisir .Menu3 ul
	{
		display: flex;
		flex-direction:column;
		line-height: 1.5em;
		font-size: 1.3em;
	}
	li span
	{
		font-weight: bold;
		padding-top: 10px;
	}
	body footer {
		font-size: 0.7em;
		padding-right: 30px;
		margin-left: 0px;
		margin-right: 0;
		width: 90%;
		margin-bottom: 0;
		text-align: center;
	}
	#animation .titre1 p:hover ~ .apres,
	#animation .titre2 p:hover ~ .apres,
	#animation .titre3 p:hover ~ .apres
	{
		width:40%;
	}
	.apres
	{
		left:30%;
		width: 0%;
		height:2px;
		transition: 0.5s;
	}
	#Gourmandises p
	{
		font-size: 0.9em;
	}
}