.apres
{
	left: 39%;
}
#animation .titre1 p:hover ~ .apres,
#animation .titre2 p:hover ~ .apres,
#animation .titre3 p:hover ~ .apres
	{
		width:23%;
	}
body
{
	width: 80%;
	text-align: center;
	text-justify:auto;
	margin: auto;
}
.titre1, .titre2, .titre3
{
	/*position: relative;
	display: flex;
	flex-direction: row;
	margin: auto;
	align-items: center;
	padding: 10px;*/
	/*font-size: 1.3em;
	font-weight: bold;*/
}
main h3
{
	background-image: -webkit-linear-gradient(right,#83c0fa,#0935e1);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	font-family: 'Dancing Script', cursive;
	font-size: 3em;
}
main
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
	padding: 0;
	width:80%;
	box-shadow: -1px 1px 5px 1px rgba(0,0,0,0.5);
	margin-top: 30px;
	margin-bottom: 70px;
	border: none;
	background:#edefef;
	font-family: 'Caveat', cursive;
}
.Menu
{
	display: flex;
	flex-direction:column;
	justify-content: space-between;
	padding-right: 20px;
	font-size: 1.3em;
}
body footer
{
	width:80%;
}
#Mentionslegales
{
	padding-left: 0px;
}
@media screen and (max-width: 900px)
{
	.Menu
	{
		font-size: 1.2em;
	}
}
@media screen and (max-width: 840px)
{
	body, body footer, main
	{
		width: 90%;
	}
}
@media screen and (max-width:650px)
{
	main
	{
		width: 97%;
	}
	main h3
	{
		font-size: 2.5em;
	}
}
@media screen and (max-width: 600px)
{
	body
	{
		width: 100%;
	}
	body footer
	{
		width: 100%;
		padding:10px;
		padding-right: 0px;
		margin-right:0px;
		margin-left: 2px;
	}
	main
	{
		width: 97%;
	}
}
@media screen and (max-width: 550px)
{
	.Menu
	{
		font-size: 1.1em;
	}
	main h3
	{
		font-size: 2em;
	}
}
@media screen and (max-width: 500px)
{
	#Commencer .Menu1 ul, #Commencer .Menu2 ul, #Commencer .Menu3 ul,
	#Continuer .Menu1 ul, #Continuer .Menu2 ul, #Continuer .Menu3 ul,
	#Terminer .Menu1 ul, #Terminer .Menu2 ul, #Terminer .Menu3 ul
	{
		display: flex;
		flex-direction:column;
		line-height: 1.2em;
		font-size: 1.1em;
	}
	img
	{
		width: 25%;
	}
	li span
	{
		font-weight: bold;
		padding-top: 10px;
	}
	body footer
	{
		font-size: 0.8em;
		margin-left: 0;
	}
	footer #Contacteznous
	{
		padding-right: 0px;
	}
}