header
{
	text-align: center;
	border: 1px solid #569d88;
	background-color: #569d88;
	color:#fdcc44;
	font-family: 'Kanit', sans-serif;
	width: 100%;
	margin-right: 0;
	padding-right: 0;
}
#logo h1
{
	font-size: 2.5em;
}
.titre
{
	padding-top: 20px;
}
body
{
	width: 80%;
	text-align: center;
	text-justify:auto;
	margin: auto;
}
h3
{
	font-size: 1.4em;
	font-family: 'Kanit', sans-serif;	
}
main
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
	padding: 0;
	width: 80%;
	border: 1px solid black;
	margin-bottom: 70px;
	margin-top: 30px;
	border: none;
	background:#fff5fe;
	box-shadow: -1px 1px 5px 1px rgba(0,0,0,0.5);
}
main h1
{
	font-family: 'Croissant One', cursive;
	background-image: -webkit-linear-gradient(right,#915bfd, #d07e4b);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
}
img
{
	width: 33%;
	margin: auto;
}
.titre1, .titre2, .titre3
{
	display: flex;
	flex-direction: row;
	margin: auto;
	align-items: center;
	padding: 10px;
}
.titre1 p, .titre2 p, .titre3 p
{
	font-size: 1.2em;
}
footer
{
	display: flex;
	flex-direction: row;
	border: 1px solid #569d88;
	background-color: #569d88;
	color:#fdcc44;
	margin: auto;
	margin-top: 20px;
	justify-content: space-between;
	padding: 10px;
	background-color: #569d88;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	width:80%;
}
a
{
	text-decoration: none;
}
footer a
{
	color: #fdcc44;
	font-size: 1.3em;
	font-family: 'Manrope', sans-serif;
}
.Menu
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-right: 20px;
	line-height: 2em;
}
#Appetit
{
	color: #c7750a;
}
#Plaisir
{
	color: #a6679a;
}
#Gourmandises
{
	color: #6e4bcd;
}
.Menuprix
{
	text-align: right;
}
ul
{
	list-style: none;
}
.Menutext
{
	text-align: left;
}
a
{
	text-decoration: none;
}
@-webkit-keyframes animation 
{ 
    0%  {
        transform: rotate(30deg);
    	}

    30% {
        transform: rotate(0deg);
    	}

    60% {
        transform:rotate(30deg) ;
   		}
    100%{
    	transform: rotate(0deg);
    	}
}
#Mentionslegales:hover, #Contacteznous:hover
{
 	-webkit-animation: animation 0.5s; 
}
body footer
{
	width:80%;
}
@media sreen and (max-width: 900px)
{
	body
	{
		width: 80%;
	}
	main
	{
		width: 80%;
	}
}
@media screen and (max-width: 800px)
{
	body
	{
		width: 90%
	}
	body footer
	{
		width: 90%;
	}
	main
	{
		width: 90%;
	}
}
@media screen and (max-width: 690px)
{
	body
	{
		width: 100%;
	}
	main
	{
		width: 97%;
	}
	body footer
	{
		width: 100%;
		padding:10px;
		padding-right: 0px;
		margin-right:0px;
	}
}
@media screen and (max-width: 425px)
{
	#Plaisir .Menuprix
	{
		padding-top: 16px;
		line-height: 4em;
	}
}
@media screen and (max-width: 375px)
{
	.Menu
	{
		font-size: 0.8em;
		padding-right: 10px;
		padding-left: 0px;
	}
	#Plaisir .Menuprix
	{
		padding-top: 10px;
		line-height: 4em;
	}
	#Appetit .Menuprix
	{
		padding-top: 0px;
	}
}
@media screen and (max-width: 320px)
{
	#Appetit .Menuprix
	{
		padding-top: 26px;
	}
}