.text h3
{
	color:#663300;
	font-family: 'Devonshire', cursive;
	font-size: 1.5em;
}
#noteenchante
{
	padding-top:20px;
}
i
{
	background-image: -webkit-linear-gradient(right,#f7906a, #f15761 90%);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
}
body
{
	width:80%;
	text-align: center;
	text-justify:auto;
	margin: auto;
}
body #Mfinal .Menu5 ul
{
	display: flex;
	flex-direction: column;
	line-height: 2em;
	text-align: left;
	margin-bottom: 30px;
	list-style: none;
	font-size: 1.2em;
}
/*.Menu5 li
{
	line-height: 3em;
}*/
.titre
{
	font-family: 'Caveat', cursive;
}
.apres
{
	left:42%;
}
.animation .titre p:hover ~ .apres
	{
		width:18%;
	}
main
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
	width: 80%;
	box-shadow: -1px 1px 5px 1px rgba(0,0,0,0.5);
	margin-top: 30px;
	background:#FCDFDA;
	border: 1px solid #FFB6C1;
	color: #330000;
	margin-bottom: 70px;
}
#noteenchante2
{
	display: flex;
	flex-direction: row;
	margin: auto;
	margin-bottom:10px;
}
#noteenchante2 strong
{
	color:#663300;
	font-family: 'Devonshire', cursive;
	font-size: 1.3em;
	font-weight: bold;
}
.Menu, .Menu5
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-right: 20px;
	padding-top: 0;
	margin-top: 0;
	font-family: 'Caveat', cursive;
	line-height: 2em;
}
@media screen and (max-width:1500px)
{
	main
	{
		display: flex;
		width:80%;
	}
	#Pdorgue .Menu1 ul, #Pdorgue .Menu2 ul, #Pdorgue .Menu3 ul, 
	#Prélude .Menu1 ul, #Prélude .Menu2 ul, #Prélude .Menu3 ul, #Prélude .Menu4 ul
	{
		flex-direction: row;
		line-height: 1em;
		font-size: 1.3em;
	}
	#noteenchante2
	{
		padding-bottom: 70px;
	}
	#Contacteznous, #Mentionslegales
	{
		font-size: 1.3em;
    }
    #Pdorgue .Menu1 ul, #Pdorgue .Menu2 ul, #Pdorgue .Menu3 ul
    {
    	padding-right: 20px;
    }
    #Mfinal .Menu5 
    {
    	font-size: 1.2em;
    }
}
@media screen and (max-width: 865px)
{
	body, main, body footer
	{
		width: 90%;
	}
	#Mfinal .Menu5
	{
		line-height: 2em;
	}
}
@media screen and (max-width: 700px)
{
	body, body footer
	{
		width: 100%;
	}
	main
	{
		width: 97%;
	}
	footer #Contacteznous
	{
		padding-right: 20px;
	}
	#Pdorgue .Menu1 ul, #Pdorgue .Menu2 ul, #Pdorgue .Menu3 ul
	{
		flex-direction:row;
		line-height: 1em;
		font-size: 1.2em;
	}
	#noteenchante2
	{
		padding-bottom: 70px;
	}
}
@media screen and (max-width: 570px)
{
	body #Mfinal .Menu5 ul
	{
	/*display: flex;
	flex-direction: column;*/
	text-align: center;
}
	#Mfinal .Menu5,
	{
		font-size: 1.1em;
	}
	#Pdorgue .Menu1 ul, #Pdorgue .Menu2 ul, #Pdorgue .Menu3 ul, #Pdorgue .Menu4 ul,
	#Prélude .Menu1 ul, #Prélude .Menu2 ul, #Prélude .Menu3 ul, #Prélude .Menu4 ul,#Mfinal .Menu5 ul
	
	{
		display: flex;
		flex-direction:column;
		line-height: 1.5em;
		font-size: 1.3em;
	}
	li span
	{
		font-weight: bold;
		padding-top: 10px;
	}
	#noteenchante2
	{
		padding-bottom: 70px;
	}
}
@media screen and (max-width: 425px)
{
	
	#Mfinal .Menu5
	{
		line-height: 0.8em;
		padding-right: 40px;
		font-size: 1em;
	}
	.Menu1 ul, .Menu2 ul, .Menu3 ul, .Menu4 ul
	{
		flex-direction: column;
		line-height: 2em;
	}
	body footer
	{
		font-size: 0.7em;
	}
	.after
	{
		left:35%;
	}
	.animation .titre p:hover ~ .after
		{
			width:30%;
		}
}
@media screen and (max-width: 320px)
{
    .Menu, .Menu2 ul, .Menu3 ul, .Menu4 ul
	{
		flex-direction: column;
		line-height: 1em;
	}
	body footer 
	{
		font-size: 0.6em;
		padding-left:0;
		padding-right: 0;
		margin: 0;
	}
}