header
{
	text-align: center;
	border: 1px solid #569d88;
	background-color: #569d88;
	color:#fdcc44;
	font-family: 'Kanit', sans-serif;
	width: 100%;
	margin-right: 0;
	padding-right: 0;
}
#logo h1
{
	font-size: 2.5em;
}
.animation
{
	width:300px;
}
.apres
{
	position: absolute;
	bottom: 0;
	left: 39%;
	display: block;
	width: 0%;
	height: 2px;
	background-color: black;
	transition: 0.5s;
}
#animation .titre1 p:hover ~ .apres,
#animation .titre2 p:hover ~ .apres,
#animation .titre3 p:hover ~ .apres
	{
		width:23%;
	}
body
{
	width: 80%;
	text-align: center;
	text-justify:auto;
	margin: auto;
}
img
{
	width: 33%;
	margin: auto;
}
.titre1, .titre2, .titre3
{
	position: relative;
	display: flex;
	flex-direction: row;
	margin: auto;
	align-items: center;
	padding: 10px;
	font-size: 1.6em;
}
main h3
{
	background-image: -webkit-linear-gradient(right,#83c0fa,#0935e1);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	font-family: 'Dancing Script', cursive;
	font-size: 3em;
}
h2
{
	font-size: 1.4em;
	font-family: 'Kanit', sans-serif;	
}
main
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
	padding: 0;
	width:80%;
	border: 1px solid black;
	margin-bottom: 70px;
	margin-top: 30px;
	border: none;
	background:#edefef;
	box-shadow: -1px 1px 5px 1px rgba(0,0,0,0.5);
	font-family: 'Caveat', cursive;
}
.Menu
{
	display: flex;
	flex-direction:column;
	justify-content: space-between;
	padding-right: 20px;
	line-height: 2em;
	font-size: 1.3em;
}
.Menu1 ul,.Menu2 ul,.Menu3 ul
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-right: 20px;
	list-style: none;
}
footer
{
	display: flex;
	flex-direction: row;
	border: 1px solid #569d88;
	background-color: #569d88;
	color:#fdcc44;
	margin: auto;
	margin-top: 20px;
	justify-content: space-between;
	padding: 10px;
	background-color: #569d88;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
}
footer a
{
	color: #fdcc44;
	font-size: 1.3em;
	font-family: 'Manrope', sans-serif;
	text-decoration: none;
}
@-webkit-keyframes animation 
{ 
    0%  {
        transform: rotate(30deg);
    	}

    30% {
        transform: rotate(0deg);
    	}

    60% {
        transform:rotate(30deg) ;
   		}
    100%{
    	transform: rotate(0deg);
    	}
}
#Mentionslegales:hover, #Contacteznous:hover
{
 	-webkit-animation: animation 0.5s; 
}
body footer
{
	width:80%;
}
@media screen and (max-width: 900px)
{
	.Menu
	{
		font-size: 1.2em;
	}
}
@media screen and (max-width: 840px)
{
	body, body footer, main
	{
		width: 90%;
	}
}
@media screen and (max-width:650px)
{
	main
	{
		width: 97%;
	}
}
@media screen and (max-width: 600px)
{
	body
	{
		width: 100%;
	}
	body footer
	{
		width: 100%;
		padding:10px;
		padding-right: 0px;
		margin-right:0px;
	}
	main
	{
		width: 97%;
	}
}
@media screen and (max-width: 550px)
{
	.Menu
	{
		font-size: 1.1em;
	}
}
@media screen and (max-width: 500px)
{
	#Commencer .Menu1 ul, #Commencer .Menu2 ul, #Commencer .Menu3 ul,
	#Continuer .Menu1 ul, #Continuer .Menu2 ul, #Continuer .Menu3 ul,
	#Terminer .Menu1 ul, #Terminer .Menu2 ul, #Terminer .Menu3 ul
	{
		display: flex;
		flex-direction:column;
		line-height: 1.2em;
		font-size: 1.1em;
	}
	img
	{
		width: 25%;
	}
	li span
	{
		font-weight: bold;
		padding-top: 10px;
	}
	body footer
	{
		font-size: 0.8em;
	}
}