header
{
	text-align: center;
	border: 1px solid #569d88;
	background-color: #569d88;
	color:#fdcc44;
	font-family: 'Kanit', sans-serif;
	width:100%;
}
#logo h1
{
	font-size: 2em;
}
.text h1
{
	color:#663300;
	font-family: 'Devonshire', cursive;
	font-size: 1.3em;
}
#noteenchante
{
	padding-top:20px;
}
i
{
	background-image: -webkit-linear-gradient(right,#f7906a, #f15761 90%);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
}
h3
{
	font-size: 1.4em;
	font-family: 'Kanit', sans-serif;
}
.titre
{
	padding-top: 0px;
}
body
{
	width:80%;
	text-align: center;
	text-justify:auto;
	margin: auto;
	padding-top: 0px;
	padding-bottom: 0px;
	/*height: 1150px;*/
}
img
{
	width: 33%;
	margin: auto;
}
.titre
{
	display: flex;
	flex-direction: row;
	margin: auto;
	align-items: center;
	padding: 10px;
}
.titre p
{
	font-size: 1.4em;
	font-family: 'Caveat', cursive;
	font-weight: bold;
}
main
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
	width: 80%;
	border: 1px solid black;
	margin-bottom: 0px;
	margin-top: 0px;
	background:#FCDFDA;
	border: 1px solid #FFB6C1;
	box-shadow: -1px 1px 5px 1px rgba(0,0,0,0.5);
	color: #330000;
}
#noteenchante2
{
	display: flex;
	flex-direction: row;
	margin: auto;
	margin-bottom:20px;
	margin-top: 0px;
}
#noteenchante2 strong
{
	color:#663300;
	font-family: 'Devonshire', cursive;
	font-size: 1.3em;
	font-weight: bold;
}
footer
{
	display: flex;
	flex-direction: row;
	border: 1px solid #569d88;
	margin: auto;
	margin-top: 20px;
	justify-content: space-between;
	padding: 10px;
	background-color: #569d88;
	position: fixed;
	bottom: 0;
}
body footer
{
	width:80%;
}
a
{
	text-decoration: none;
}
footer a
{
	color: #fdcc44;
	font-size: 1.3em;
	font-family: 'Manrope', sans-serif;
	padding-right: 0;
}
#Contacteznous
{
	padding-right: 0px;
}
.Menu
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-right: 20px;
	padding-top: 0;
	margin-top: 0;
	font-family: 'Caveat', cursive;
	font-size: 1.2em;
	line-height: 2em;
}
.Menuprix
{
	text-align: right;
	padding-right: 10px;
}
ul
{
	list-style: none;
}
.Menutext
{
	text-align: left;
}
a
{
	text-decoration: none;
}
#Contacteznous
{
	padding-right: 20px;
}
@-webkit-keyframes animation 
{ 
    0%  {
        transform: rotate(30deg);
    	}

    30% {
        transform: rotate(0deg);
    	}

    60% {
        transform:rotate(30deg) ;
   		}
    100%{
    	transform: rotate(0deg);
    	}
}
#Mentionslegales:hover, #Contacteznous:hover
{
 	-webkit-animation: animation 0.5s; 
}
.Menutext
{
	margin-bottom: 0px;
	font-family: 'Caveat', cursive;
}
.note
{
margin-top: 0px;
color: red;
}
@media screen and (max-width:1440px)
{
	main
	{
		display: flex;
		width:80%;
		margin: auto;
	}
		header, footer
	{
		width:100%;
		margin: auto;
		padding:0;
	}
	#Mentionslegales
	{
		padding: 15px;
	}
    #Contacteznous
    {
    	padding-top:15px;
    }
}
@media screen and (max-width: 850px)
{
	body
	{
		width: 90%;
	}
	main
	{
		width: 90%;
	}
	body footer
	{
		width: 90%;
	}
}
@media screen and (max-width: 700px)
{
	body
	{
		width: 100%;
	}
	main
	{
		width: 97%;
	}
	body footer
	{
		width: 100%;
	}
}
@media screen and (max-width: 528px)
{
	#Pdorgue .Menuprix
	{
		padding-top: 30px;
	}
}
@media screen and (max-width: 518px)
{
	#Prélude .Menuprix
	{
		padding-top: 32px;
	}
}
@media screen and (max-width: 425px)
{
	#Prélude .Menuprix
	{
		line-height: 4em;
		padding-top: 0;
	}
	#Prélude .Menutext
	{
		padding-top: 20px;
	}
	#Pdorgue .Menuprix
	{
		padding-top: 0px;
		line-height: 4em;
	}
	#Pdorgue .Menutext
	{
		padding-top: 20px;
	}	
}
@media screen and (max-width: 320px)
{
	#Prélude .Menuprix
	{
		line-height: 5em;
		padding-top: 0px;
	}
	#Pdorgue .Menuprix
	{
		line-height: 6em;
		padding-top: 0;
	}
	#Pdorgue .Menutext
	{
		padding-top: 40px;
	}
}