header
{
	text-align: center;
	border: 1px solid #569d88;
	background-color: #569d88;
	color:#fdcc44;
	font-family: 'Kanit', sans-serif;
	width: 100%;
	
}
#logo h1
{
	font-size: 2em;
}
.text h1
{
	color:#663300;
	font-family: 'Devonshire', cursive;
	font-size: 1.3em;
}
#noteenchante
{
	padding-top:20px;
}
i
{
	background-image: -webkit-linear-gradient(right,#f7906a, #f15761 90%);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
}
h3
{
	font-size: 1.4em;
	font-family: 'Kanit', sans-serif;
}
.titre
{
	padding-top: 0px;
}
body
{
	width: 700px;
	text-align: center;
	text-justify:auto;
	margin: auto;
	padding-top: 0px;
	padding-bottom: 0px;
	height: 1000px;
}
main
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
	padding: 0;
	width: 700px;
	border: 1px solid black;
	margin-bottom: 0px;
	margin-top: 0px;
	background:#FCDFDA;
	border: 1px solid #FFB6C1;
	box-shadow: -1px 1px 5px 1px rgba(0,0,0,0.5);
	color: #330000;
	height: 900px;
}
#noteenchante2
{
	display: flex;
	flex-direction: row;
	margin: auto;
	margin-bottom: 30px;
	margin-top: 30px;
}
#noteenchante2 strong
{
	color:#663300;
	font-family: 'Devonshire', cursive;
	font-size: 1.3em;
	font-weight: bold;
}
footer
{
	display: flex;
	flex-direction: row;
	border: 1px solid #569C87;
	justify-content: space-between;
	padding: 10px;
	background-color: #569C87;
	position: fixed;
	bottom: 0;
	/*left: 0;
	right: 0;*/
	width: 700px;
	
    margin: auto;
}

footer a
{
	color: #F5C749;
	font-size: 1.3em;

}
.section-title 
{
    text-align: center;
    position: relative;
}

.section-title:before
{
    content: "";
    left: 40px;/*bordure à gauche*/
    right:40px;/*bordure à doite*/
    height: 3px;/*Epaisseur*/
    background: #330000;
    position: absolute;
    top: calc(50% - 1px);/*Position top*/
}

.section-title span
{
    display:inline-block;
    padding: 0px 40px;/*Espace interieur*/
    background:#FCDFDA;
    position: relative;
    z-index: 0;
    font-family: 'Caveat', cursive;
}
.section-title span
{
    display:inline-block;
    padding: 0px 40px;/*Espace interieur*/
    background:#FCDFDA ;
    position: relative;
    z-index: 0;
}
.Menu
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-right: 20px;
	padding-top: 0;
	margin-top: 0;
	font-family: 'Caveat', cursive;
	font-size: 1.1em;

}
.Menuprix
{
	text-align: right;
	padding-right: 10px;
}
ul
{
	list-style: none;
}
.Menutext
{
	text-align: left;
}
a
{
	text-decoration: none;
}
#Contacteznous:hover,
#Mentionslegales:hover
{
	transform: rotate(10deg);
}
.Menutext
{
	margin-bottom: 0px;
	font-family: 'Caveat', cursive;
}
.note
{
margin-top: 0px;
color: red;
}
@media screen and (max-width:1440px)
{
	main
	{
		display: flex;
		width:auto;
		height: 750px;
		margin: auto;
		margin-top: 0;
		padding-right: 20px;
	}
		header, footer
	{
		width: 700px;
		margin: 0;
		padding:0;
	}
	#Mfinal  
	{
		margin-bottom: 0px;
	}
    
	}
}
