header
{
	text-align: center;
	border: 1px solid #569d88;
	background-color: #569d88;
	color:#fdcc44;
	font-family: 'Kanit', sans-serif;
	width: 100%;
	margin-right: 0;
	padding-right: 0;
}
#logo h1
{
	font-size: 2.5em;
	color:#fdcc44;
	text-decoration: none;
}
body
{
	display: flex;
	flex-direction: column;
	width:80%;
	justify-content:center;
	margin: auto; 
}
main
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: justify;
	margin:auto;
	width: 80%;
	border: none;
	padding:10px;
	padding-bottom: 20px;
	margin-bottom: 40px;
    font-size: 1.2em
}
footer
{
	display: flex;
	flex-direction: row;
	border: 1px solid #569d88;
	background-color: #569d88;
	color:#fdcc44;
	margin: auto;
	margin-top: 20px;
	justify-content: space-between;
	/*padding: 10px;*/
	background-color: #569d88;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	width:80%;
}
h3
{
	text-align: center;
}
footer a
{
	color:#fdcc44;
	text-decoration: none;
	font-family: 'Manrope', sans-serif;
	font-size: 1.3em;
}
#Mentionslegales, #Contacteznous
{
	padding: 10px;
}
@-webkit-keyframes animation 
{ 
    0%  {
        transform: rotate(30deg);
    	}

    30% {
        transform: rotate(0deg);
    	}

    60% {
        transform:rotate(30deg) ;
   		}
    100%{
    	transform: rotate(0deg);
    	}
}
#Mentionslegales:hover, #Contacteznous:hover
{
 	-webkit-animation: animation 0.5s; 
}
@media screen and (max-width: 768px)
{
	main
	{
		font-size: 1em;
		/*padding-right: 10px;
		padding-left: 0px;*/
	}
	body, footer
	{
		width: 100%;
	}
}
@media screen and (max-width: 320px)
{
	main
	{
		font-size: 0.8em;
		/*padding-right: 10px;
		padding-left: 0px;*/
	}
	#Mentionslegales, #Contacteznous
	{
		font-size: 0.8em;
	}
}