header
{
	text-align: center;
	border: 1px solid #569C87;
	background-color: #569C87;
	color:#FCCA46;
}
body
{
	width: 700px;
	margin: auto;
}
section
{
	display: flex;
	flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}
#menu1, #menu2, #menu3, #menu4
{
	display: flex;
	flex-direction: column;
	width: 250px;
	height: 250px;
	border: 1px solid black;
	text-align: center;
	margin: 20px;
	padding-top:100px;
}
#menu1
{
	background-color: #FCDFDA;
	border: 1px solid #FCDFDA;
	box-shadow: -1px 1px 5px 1px rgba(0,0,0,0.5);
}
#menu1 p, #menu1 h1
{
	color:#A52A2A;
}
#menu2
{
	background-color: #FEF5FD;
	border: 1px solid #FEF5FD;
	box-shadow: -1px 1px 5px 1px rgba(0,0,0,0.5);
}
#menu3
{
	background-color: #F9F9F9;
	border: 1px solid #F9F9F9;
	box-shadow: -1px 1px 5px 1px rgba(0,0,0,0.5);
}
#menu4
{
	background-color: #FDFFFD;
	border: 1px solid #FDFFFD;
	box-shadow: -1px 1px 5px 1px rgba(0,0,0,0.5);
}
#Prochainement
{
	display: flex;
	text-align: center;
	width: 250px;
	height: 40px;
    margin: auto;
	justify-content: center;
	border-radius: 10px;
	border: 1px solid #66CDAA;
	background-color: #66CDAA;
	color: #FCCA46;
	font-size: 1.3em;
	align-items: center;
	margin-bottom: 80px;
}
main
{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
footer
{
	display: flex;
	flex-direction: row;
	border: 1px solid #569C87;
	margin: auto;
	margin-top: 20px;
	justify-content: space-between;
	padding: 10px;
	background-color: #569C87;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	width: 700px;
}
a
{
	text-decoration: none;
}
footer a
{
	color: #FCCA46;
	font-size: 1.3em;
}
#Contacteznous
{
	display: flex;
	justify-content: space-between;
}
#Contacteznous:hover,
#Mentionslegales:hover
{
	transform: rotate(10deg);
}
section a:hover
{
	font-size: 150%;
}
