body
{
	width: 100%;
	margin: auto;
	justify-content: center;
}
header
{
	margin-top:0px;
	width: 100%;
}
section
{
	display: flex;
	flex-direction: row;
	justify-content: center;
    margin: 20px;
    padding-bottom: 20px;
}
#section1, #section2
{
	display: flex;
	flex-direction: row;
}
#menu1, #menu2, #menu3, #menu4
{
	display: flex;
	flex-direction: column;
	width: 350px;
	height: 350px;
	border: 1px solid black;
	text-align: center;
	margin: 20px;
	padding-top:100px;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}
#menu1
{
	background-color:#fce0dc;
	border: none;
	color:#663300;
	font-size: 1.2em;
}
#menu1 h2
{
	font-family: 'Kalam', cursive;
}
#menu1 span
{
	font-family: 'Devonshire', cursive;
}
i
{
	background-image: -webkit-linear-gradient(right,#f7906a, #f15761 90%);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
}
#menu2
{
	background-color: #fff5fe;
	border: none;
}
#menu2 p
{
	font-family: 'Croissant One', cursive;
	font-weight: bold;
	background-image: -webkit-linear-gradient(right,#915bfd, #d07e4b);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
}
#menu2 h2
{
	color: #c8750a;
	font-family: 'Georgia', serif;
}
#menu3
{
	background-color: #F9F9F9;
	border: none;
}
#menu3 p
{
	font-family: 'Dancing Script', cursive;
	font-weight: bold;
	background-image: -webkit-linear-gradient(right,#83c0fa,#0935e1);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	font-size: 1.2em;
}
#menu3 h2
{
	color: #0188fb;
	font-family: 'Caveat', cursive;
}
#menu4
{
	background-color: #FDFFFD;
	border: none;
}
#menu4 h2
{
	font-family: 'Caveat', cursive;
	color: #73c055;
}
#menu4 p
{
	font-family: 'Kaushan Script', cursive;
	font-weight: bold;
	background-image: -webkit-linear-gradient(right,#c0ff7f,#55a44d);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	font-size: 1.2em;
}
#Prochainement
{
	display: flex;
	text-align: center;
	width: 280px;
	height: 50px;
    margin: auto;
	justify-content: center;
	border-radius: 10px;
	background-color: #569d88;
	color: #f7c947;
	font-size: 1.7em;
	align-items: center;
	margin-bottom: 80px;
	font-family: 'Manrope', sans-serif;
}
#point1, #point2, #point3
{
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius:50%;
	background-color: #F2C847;
}

@-webkit-keyframes wave 
{ 
    0%, 60%, 100%  {
        transform: initial;
    	}

    30% {
        transform: translateY(-15px);
    	}
}
#point1 
{
 	-webkit-animation: wave 1.5s linear infinite; 
}

#point2
{
	-webkit-animation: wave 1.5s linear infinite; 
	animation-delay: 0.3s;
}

#point3
{
	-webkit-animation: wave 1.5s linear infinite; 
	animation-delay: 0.6s;
}
main
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 50px;
	width: 100%;
}
#Contacteznous
{
	padding-right:0px;
}
a
{
	text-decoration: none;
}
section a:hover
{
	font-size: 150%;
}
@media screen and (max-width:1440px)
{
	header
	{
		margin-top: 0;
	}
	main
	{
		display: flex;
		margin: auto;
		align-items: center;
		padding-top: 20px;
	}
	#section1, #section2
    {
    	display: flex;
    	flex-direction: row;
    }
    #menu1, #menu2, #menu3, #menu4
    {
    	width: 250px;
    	height: 250px;
    }
	body, header, body footer
	{
		width: 100%;
	}
	footer #Contacteznous
	{
		padding-right: 10px;
	}
	footer #Mentionslegales
	{
		padding-left: 10px;
	}
}
@media screen and (max-width:1208px)
{
	main
	{
		display: flex;
		margin: auto;
	}
	#section1, #section2
    {
    	display: flex;
    	flex-direction: row;
    }
    section
    {
    	display: flex;
    	flex-direction: column;
    	margin: auto;
    }
	header, footer
	{
		width: 100%;
	}
}
@media screen and (max-width:590px)
{
	main
	{
		display: flex;
		margin: auto;
	}
	#section1, #section2
    {
    	display: flex;
    	flex-direction: column;
    }
    section
    {
    	display: flex;
    	flex-direction: column;
    	margin: auto;
    }
    #Prochainement
	{
		width: 260px;
		height: 40px;
		font-size: 1.2em;	
    }
    #point1, #point2, #point3
	{
		width: 5px;
		height: 5px;
	}
	header, footer
	{
		width: 100%;
	}
	footer
	{
		font-size: 0.8em;
	}
}